[Unit]
Description=Fedora package repo server
After=network-online.target fedora-package-repo.network
Wants=network-online.target
Requires=fedora-package-repo.network

[Container]
Image=localhost/fedora-package-repo-nginx:latest
ContainerName=fedora-package-repo
Network=fedora-package-repo.network
PublishPort=8080:8080
UserNS=keep-id
Volume=%h/fedora-package-repo/repo:/srv/repo:ro,Z

[Service]
Restart=always

[Install]
WantedBy=default.target
